services:
  back-end:
    build:
      context: .
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:3000/docs"]
      interval: 5s
      timeout: 5s
      retries: 5
